doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1" )
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/test.css')


    
    script(src="javascripts/Vote.js")
    script(src="javascripts/main.js")
    script(src = "javascripts/LogIn.js")
    script(src = "javascripts/ProgressBars.js")
    
   

    script(src="https://accounts.google.com/gsi/client" async defer)

block Header
    div(id = "header")
        div(class="header container-fluid " style="background-color:  #ff8000;")
            div(class="row justify-content-end")
                div(class="col-auto")
                    div(id='login')
                    div( id="g_id_onload" 
                            data-client_id="623398996009-sh4vrk42s5ri02ji4g9mokh8maiaroe4.apps.googleusercontent.com" 
                            data-context="signin" 
                            data-auto_prompt="false" 
                            data-ux_mode="popup" 
                  
                            data-callback="handleCredentialResponse")
                    div(class = "p-3")
                        div(class="g_id_signin" data-type="standard") <!-- Maybe unnecessary since one tap is enabled-->
                        div(class="popup")
                            span(class="popuptext" id="myPopup")

       

block Progress 
    div(id="progressBarContainer" class = "container-sm")
        h1(id = "headline" class="text-center mx-2") ÖSTRAS ALTERNATIVA NOBEL PRIS
        

//-kategorier
block Nobel
    div(id="content" class="container-sm")
    div(class = "row justify-content-center m-0")
            div(class = "col-auto")
                h2(class="text-center display-6 m-0 text-danger fw-bold") Varning! 
                h5(class="text-center m-0 text-danger fw-bold" ) Svaret kan ej ändras
                button(id = "confirm-btn" type="button" class="btn-success fw-bold btn-lg mb-5 p-3 justify-content-center w-100") Bekräfta röstning 

block Footer
    div(id = "footer")
        div(class="footer container-fluid " style="background-color:  #ff8000;")
            div(class="row justify-content-center")
                div(class="col-12 align-self-start")
                    h2(class = "p-2 text-light") ÖSTRA GYMNASIET 2021
                    //- p(class = "p-2 text-dark text-end") Made by TE4-21
                div(class="col-12 text-end")
                    p(class = "p-2 text-dark fw-bold") Made by TE4-21


    
