extends layout

block content
  h1 #{title}
  p Welcome to #{title}  <!-- title variable is in routes/index.js-->
  div(id='main')
    div(id='login')
      div( id="g_id_onload"
            data-client_id="623398996009-sh4vrk42s5ri02ji4g9mokh8maiaroe4.apps.googleusercontent.com"
            data-context="signin"
            data-auto_prompt="false"
            data-ux_mode="popup"
            data-login_uri="https://shrouded-wave-16183.herokuapp.com/Vote"
            data-callback="handleCredentialResponse")
      div(class="g_id_signin" data-type="standard") <!-- Maybe unnecessary since one tap is enabled-->
    a(href="/Vote") Vote Now
    div(class="popup")
      span(class="popuptext" id="myPopup")